.line-comments{
  border-bottom: 1px solid darkgray;
  padding: 20px 0px;
  width: 450px;
}

.line{
  border-bottom: 1px solid darkgray;
  width: 450px;
}

[placeholder]:empty::before {
  content: attr(placeholder);
  color: #555;
}

[placeholder]:empty:focus::before {
  content: "";
}
