.line-comments{
  border-bottom: 1px solid darkgray;
  padding: 20px 0px;
  width: 450px;
}

.line{
  border-bottom: 1px solid darkgray;
  width: 450px;
}

[placeholder]:empty::before {
  content: attr(placeholder);
  color: #555;
}

[placeholder]:empty:focus::before {
  content: "";
}

.comment-textarea{
  border-radius: 20px;
  padding: 10px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: #f0f2f5;
  outline: none;
  border: none; width: calc(100% - 20px);
  display: inline-block;
  overflow-y: hidden
}
