<app-navbar></app-navbar>
<div>
  <mat-card style="width: 450px; margin: 30px auto 0; padding: 0">
    <input class="comment-textarea" [id]="'publicationTitleAdd'" placeholder="Add the title here..."
           [(ngModel)]="publicationCreate.title" />
    <textarea class="comment-textarea" [id]="'publicationContentAdd'" cdkTextareaAutosize placeholder="Add the content here..."
              [(ngModel)]="publicationCreate.content"></textarea>
    <button mat-button (click)="addNewPublication()">Add New Publication</button>
  </mat-card>
  <mat-card style="width: 450px; margin: 30px auto 0; padding: 0" *ngFor="let publication of publicationsData">
    <mat-card-header>
      <mat-card-title>
        <br>
        <img style="width: 40px;" src="/assets/img/{{publication.userAvatar}}.png" alt="ghost"/>
        {{publication.username}}
        {{publication.title}}
      </mat-card-title>
    </mat-card-header>
    <br>
    <mat-card-content>
      <div style="margin-bottom: 20px;">
        <div style="margin-left: 20px;"> {{publication.content}} </div>
      </div>
      <div class="line"></div>
      <mat-list>
        <div mat-subheader>Comments</div>
        <mat-list-item style="flex-direction: row;" *ngFor="let publicationComment of publicationCommentsArranged[publicationsData.indexOf(publication)]">
          <br>
          <div style="position: relative; margin-right: 10px;"><img style="width: 40px;" src="/assets/img/{{publicationComment.userAvatar}}.png"
                                                                    alt="{{publicationComment.userAvatar}}"/> {{publicationComment.username}}</div>
          <div class="comment" style="flex-grow: 1; flex-basis: 0;">{{publicationComment.comment}}</div>
        </mat-list-item>
      </mat-list>
      <div *ngFor="let publicationComment of publicationCommentsArranged[publicationsData.indexOf(publication)]">

      </div>
      <div>
        <div style="padding-left: 30px; padding-right: 30px;">
          <div style="display: flex; flex-direction: row">
            <div style="flex-grow: 1; flex-basis: 0;">
              <div style="display: flex; flex-direction: row;">
                <div class="form" style="flex-grow: 1;">
                  <div style="padding: 8px 12px;">
                    <textarea class="comment-textarea" [id]="'input' + publication.id" cdkTextareaAutosize placeholder="Add a new comment here..."
                              [(ngModel)]="comment[publicationsData.indexOf(publication)]"></textarea>
                  </div>
                </div>
                <button [id]="'button' + publication.id" mat-button color="primary" (click)="addNewComment(publicationsData.indexOf(publication), publication.id)">Comment</button>
              </div>

            </div>
          </div>

        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
