<app-navbar></app-navbar>
<div style="margin-top: 20px;">
  <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let user of users">
        <mat-card style="background-color: #98ccdc; min-width: 150px;">
          <mat-card-header>
            <div mat-card-avatar><img style="width: 40px; background-size: cover;" src="/assets/img/{{user.avatar}}.png" alt="{{user.avatar}}"/></div>
            <mat-card-title>{{user.username}}</mat-card-title>
            <mat-card-subtitle>Avatar: {{user.avatar}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>

          </mat-card-content>
          <mat-card-actions>
            <button mat-button color="accent" (click)="likeUser(user.id, user)" style="font-size: 20px;">{{user.likes}}
              <fa-icon [class]="user.isLiked?'':'icon-disabled'" [id]="'faHeartIcon'+user.id" [icon]="faHeart"
                       style="--fa-animation-duration: 0.5s; --fa-animation-iteration-count: 1;" ></fa-icon>
            </button>
            <button mat-button color="primary" (click)="requestFriend(user.id, user)" style="font-size: 20px;">
              <fa-icon [class]="user.hasRequested||user.isFriend?'':'icon-disabled'" [id]="'faUserIcon'+user.id"
                       [icon]="user.isFriend?faUserGroup:faUserPlus" style="--fa-animation-duration: 0.5s; --fa-animation-iteration-count: 1;"></fa-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
