.fa-icon-navbar {
    font-size: 20px;
}

.fa-icon-navbar-menu{
  font-size: 20px;
  margin-right: 10px;
}

.fa-icon-unselected{
  color: white;
}

.fa-icon-selected{
  color: #1dcaff;
}

.fa-icon-menu-unselected{
  color: #7596be;
}

.mat-badge-medium.mat-badge-above .mat-badge-content {
  top: -22px;
}
