.fa-icon-navbar {
    font-size: 20px;
}

.fa-icon-navbar-menu{
  font-size: 20px;
  margin-right: 10px;
}

.fa-icon-unselected{
  color: white;
}

.fa-icon-selected{
  color: #1dcaff;
}

.fa-icon-users{
  color: white;
}

.fa-icon-message{
  color: white;
}

.fa-icon-house{
  color: white;
}

.fa-icon-user{
  color: white;
}

.fa-icon-bell{
  color: white;
}

.fa-icon-logout {
  color: white;
}

.fa-icon-menu{
  color: white;
}

