<div>
  <div class="global-container">
    <div class="container-left">
      <div>
        <h1>Social Project App</h1>
        <p>This is a project that includes Frontend and Backend (Angular and Spring Boot) That simulates a social app</p>
      </div>
    </div>
    <div class="container-right">
      <mat-card class="container-right-card">
        <mat-form-field appearance="fill" style="width: 350px; margin-top: 10px;">
          <mat-label>Email</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 350px;">
          <mat-label>Password</mat-label>
          <input matInput>
        </mat-form-field>
        <button mat-raised-button color="primary" style="width: 350px; height: 50px;">Login</button>
        <a href="#" style="margin-top: 15px; display: block;">Forgot your password?</a>
        <div class="line"></div>
        <button mat-raised-button color="accent" style="width: 350px; height: 50px;" [routerLink]="'register'">Register</button>
      </mat-card>
    </div>

  </div>

</div>
