<div>
  <div style="padding-top: 50px; margin: 0 auto; width: 900px; height: 490px; ">
    <div style="width: 200px; height: 200px; display: inline-block">Home works!</div>
    <div style="float: right">

      <mat-card style="width: 400px; height: 400px; box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%)">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" style="width: 300px">Login</button>
        <br>
        <a href="#">Forgot your password?</a>
        <mat-divider></mat-divider>
        <button mat-raised-button color="accent" style="width: 300px">Register</button>
      </mat-card>
    </div>

  </div>

</div>
