<div>
  <div style="padding-top: 50px; margin: 0 auto; width: 900px; height: 900px;">
    <div style="width: 200px; display: inline-block;">
      <div style="padding-top: 250px;">
        <h1>Social Project App</h1>
        <p>This is a project that includes Frontend and Backend (Angular and Spring Boot) That simulates a social app</p>
      </div>
    </div>
    <div style="float: right; padding-top: 150px; display: inline-block">

      <mat-card style="width: 400px; height: 345px; box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
      text-align: center;">
        <mat-form-field appearance="fill" style="width: 350px; margin-top: 10px;">
          <mat-label>Email</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 350px;">
          <mat-label>Password</mat-label>
          <input matInput>
        </mat-form-field>
        <button mat-raised-button color="primary" style="width: 350px; height: 50px;">Login</button>
        <a href="#" style="margin-top: 15px; display: block;">Forgot your password?</a>
        <div style="border-bottom: 1px solid darkgray; margin: 20px 15px"></div>
        <button mat-raised-button color="accent" style="width: 350px; height: 50px;">Register</button>
      </mat-card>
    </div>

  </div>

</div>
