<app-navbar></app-navbar>
<mat-progress-bar style="margin-top: 10px;" mode="indeterminate" *ngIf="!userServiceLoaded"></mat-progress-bar>
<mat-tab-group animationDuration="0ms">
  <!--Profile-->
  <mat-tab label="Profile">
    <mat-card style="max-width: 300px; margin: 30px auto 0; background-color: #98ccdc">
      <mat-card-header>
        <img style="width: 40px;" mat-card-avatar src="/assets/img/{{userMe.avatar}}.png" alt="{{userMe.avatar}}"/>
        <mat-card-title>{{userMe.username}}</mat-card-title>
        <mat-card-subtitle>{{userMe.avatar}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{userMe.email}}</p>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <!--Friends-->
  <mat-tab label="Friends">
    <div *ngIf="userServiceLoaded && userMe.userFriends.length==0">No friends yet</div>
    <div class="content">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let friend of userMe.userFriends">
          <mat-card class="mat-elevation-z4" style="background-color: #98ccdc">
            <mat-card-header>
              <div mat-card-avatar><img style="width: 40px; background-size: cover;" src="/assets/img/{{friend.avatar}}.png" alt="{{friend.avatar}}"/></div>
              <mat-card-title>{{friend.username}}</mat-card-title>
              <mat-card-subtitle>{{friend.avatar}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>{{friend.id}}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button color="accent" (click)="likeUser(friend.id, friend)" style="font-size: 20px;">{{friend.likes}}
                <fa-icon [class]="friend.isLiked?'':'icon-disabled'" [id]="'faHeartIcon'+friend.id" [icon]="faHeart"
                         style="--fa-animation-duration: 0.5s; --fa-animation-iteration-count: 1;" ></fa-icon>
              </button>
              <button mat-button (click)="removeFriend(friend.id, friend)" style="font-size: 20px;">
                <fa-icon [icon]="faUserMinus" style="color: #ee2f3e"></fa-icon>
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-tab>
  <!--User Information-->
  <mat-tab label="User Information">
    <div>User Likes: {{userMe.likes}}</div>
  </mat-tab>
</mat-tab-group>
