<app-navbar></app-navbar>
<mat-tab-group animationDuration="0ms">
  <mat-tab label="Profile">
    <div>Username: {{user.username}}</div>
    <div>Email: {{user.email}}</div>
  </mat-tab>
  <mat-tab label="Friends">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let friend of user.userFriends">

            <mat-card>
              <mat-card-header>
                <div mat-card-avatar><img style="width: 40px; background-size: cover;" src="/assets/img/{{friend.avatar}}.png" alt="{{friend.avatar}}"/></div>
                <mat-card-title>{{friend.username}}</mat-card-title>
                <mat-card-subtitle>{{friend.avatar}}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>

                <p>{{friend.id}}</p>

              </mat-card-content>
              <mat-card-actions>


              </mat-card-actions>
            </mat-card>

      </div>
    </div>


  </mat-tab>
  <mat-tab label="User Information">
    <div>User Likes: {{user.likes}}</div>
  </mat-tab>
</mat-tab-group>
