.line-comments{
  border-bottom: 1px solid darkgray;
  padding: 20px 0px;
  width: 450px;
}

.line{
  border-bottom: 1px solid darkgray;
  margin: 0 auto;
  width: 93%;
}

[placeholder]:empty::before {
  content: attr(placeholder);
  color: #555;
}

[placeholder]:empty:focus::before {
  content: "";
}

.comment-textarea{
  border-radius: 20px;
  padding: 10px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: #f0f2f5;
  outline: none;
  border: none;
  width: calc(100% - 20px);
  display: inline-block;
  overflow-y: hidden
}

.comment{
  display: inline-block;
  padding: 10px;
  background-color: #f0f2f5;
  align-self: flex-start;
  outline: none;
  border: none;
  border-radius: 20px;
  word-break: break-word;
  white-space: pre-line;
}

.publication-created-at{
  font-size: 12px;
  color: #888888;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
