<mat-toolbar style="position: sticky; top:0; z-index: 1000; background: #2596be">
  <div style="display: flex; background-color: white; border-radius: 50%; padding: 7px; width: 40px; height: 40px;">
    <img *ngIf="user.avatar" style="width: 40px;" src="/FullStackSocialApp/assets/img/{{user.avatar}}.png" alt="{{user.avatar}}"/>
  </div>

  <span style="margin-left: 10px;">{{user.username}}</span>
  <div style="flex: 1 1 auto"></div>
  <!-- App Options -->
  <div *ngIf="!isScreenSmall">
    <button mat-button matTooltip="Meet People" [routerLink]="'/meet'">
      <fa-icon class="fa-icon-navbar" [class]="routeString=='/meet'?'fa-icon-selected':'fa-icon-unselected'" [icon]="faUsers"></fa-icon>
    </button>
    <button mat-button matTooltip="Send Messages" [routerLink]="'/messages'">
      <fa-icon class="fa-icon-navbar" [class]="routeString=='/messages'?'fa-icon-selected':'fa-icon-unselected'" [icon]="faMessage"></fa-icon>
    </button>
    <button mat-button matTooltip="View Publications" [routerLink]="'/publications'">
      <fa-icon class="fa-icon-navbar" [class]="routeString=='/publications'?'fa-icon-selected':'fa-icon-unselected'" [icon]="faHouse"></fa-icon>
    </button>
    <button mat-button matTooltip="Your Profile" [routerLink]="'/profile'">
      <fa-icon class="fa-icon-navbar" [icon]="faUser" [class]="routeString=='/profile'?'fa-icon-selected':'fa-icon-unselected'"></fa-icon>
    </button>
    <button mat-button matTooltip="View Notifications" [matMenuTriggerFor]="notificationMenu">
      <fa-icon id="fa-icon-bell-id" class="fa-icon-navbar fa-icon-unselected" [icon]="faBell"></fa-icon>
      <span *ngIf="userNotifications!=-1" [matBadge]="userNotifications" style="display: inline-block;"></span>
    </button>
    <mat-menu class="custom-menu" #notificationMenu="matMenu">
      <button mat-menu-item *ngIf="initialDataLoaded && (user.userRequestOfFriends.length==0)">
        <div>No notifications</div>
      </button>
      <button style="height: 150px; width: 300px;" mat-menu-item *ngFor="let friendRequest of user.userRequestOfFriends">
        <div style="flex-direction: column">
          <div>
            <img style="width: 40px;" src="/FullStackSocialApp/assets/img/{{friendRequest.avatar}}.png" alt="{{friendRequest.avatar}}"/>
            <span style="margin-left: 10px;">{{friendRequest.username}}</span>
          </div>
          <div>
            <button mat-button color="primary" (click)="acceptFriendRequest(friendRequest.id)">Accept</button>
            <button mat-button color="warn" (click)="rejectFriendRequest(friendRequest.id)">Decline</button>
          </div>
        </div>
      </button>
    </mat-menu>
    <button mat-button (click)="logout()">
      <fa-icon class="fa-icon-navbar fa-icon-unselected" [icon]="faArrowRightFromBracket"></fa-icon>
    </button>
  </div>
  <!-- App Options -->
  <div *ngIf="isScreenSmall">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <fa-icon class="fa-icon-navbar fa-icon-unselected" [icon]="faBars"></fa-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="'/meet'">
        <fa-icon class="fa-icon-navbar-menu" [class]="routeString=='/meet'?'fa-icon-selected':'fa-icon-menu-unselected'" [icon]="faUsers"></fa-icon>
        <span>Meet</span>
      </button>
      <button mat-menu-item [routerLink]="'/messages'">
        <fa-icon class="fa-icon-navbar-menu" [class]="routeString=='/messages'?'fa-icon-selected':'fa-icon-menu-unselected'" [icon]="faMessage"></fa-icon>
        <span>Messages</span>
      </button>
      <button mat-menu-item [routerLink]="'/publications'">
        <fa-icon class="fa-icon-navbar-menu" [class]="routeString=='/publications'?'fa-icon-selected':'fa-icon-menu-unselected'" [icon]="faHouse"></fa-icon>
        <span>Publications</span>
      </button>
      <button mat-menu-item [routerLink]="'/profile'">
        <fa-icon class="fa-icon-navbar-menu" [class]="routeString=='/profile'?'fa-icon-selected':'fa-icon-menu-unselected'" [icon]="faUser"></fa-icon>
        <span>Profile</span>
      </button>
      <button mat-menu-item [matMenuTriggerFor]="notificationMenu">
        <fa-icon class="fa-icon-navbar-menu fa-icon-menu-unselected" [icon]="faBell"></fa-icon>
        <span>Notifications</span>
      </button>
      <mat-menu class="custom-menu" #notificationMenu="matMenu">
        <button mat-menu-item *ngIf="initialDataLoaded && (user.userRequestOfFriends.length==0)">
          <div>No notifications</div>
        </button>
        <button style="height: 150px; width: 300px;" mat-menu-item *ngFor="let friendRequest of user.userRequestOfFriends">
          <div style="flex-direction: column">
            <div>
              <img style="width: 40px;" src="/assets/img/{{friendRequest.avatar}}.png" alt="{{friendRequest.avatar}}"/>
              <span style="margin-left: 10px;">{{friendRequest.username}}</span>
            </div>
            <div>
              <button mat-button (click)="acceptFriendRequest(friendRequest.id)">Accept</button>
              <button mat-button (click)="rejectFriendRequest(friendRequest.id)">Decline</button>
            </div>
          </div>
        </button>
      </mat-menu>
      <button mat-menu-item (click)="logout()">
        <fa-icon class="fa-icon-navbar-menu fa-icon-menu-unselected" [icon]="faArrowRightFromBracket"></fa-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
