<div>
  <div class="container-register">
    <mat-card class="container-register-card">
      <mat-form-field appearance="fill" style="width: 350px; margin-top: 10px;">
        <mat-label>Email</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill" style="width: 350px;">
        <mat-label>Password</mat-label>
        <input matInput>
      </mat-form-field>
      <button mat-raised-button color="accent" style="width: 350px; height: 50px;">Register</button>
      <div class="line"></div>
      Have an account?
      <button mat-button color="primary" style="margin-top: 10px;" [routerLink]="''">Go to Login</button>
    </mat-card>
  </div>
</div>
