<div>
  <div class="container-register">
    <mat-card class="container-register-card">
      <form [formGroup]="userFormGroup">
        <div style="margin-top: 5px;"></div>
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput autocomplete="off" formControlName="username">
          <mat-error *ngIf="userFormGroup.get('username')?.hasError('required')">
            Username is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="userFormGroup.get('username')?.hasError('minlength')">
            Username must be at least <strong>6</strong> characters long
          </mat-error>
          <mat-error *ngIf="userFormGroup.get('username')?.hasError('maxlength')">
            Username must be at most <strong>50</strong> characters long
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput autocomplete="off" formControlName="email">
          <mat-error *ngIf="userFormGroup.get('email')?.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="userFormGroup.get('email')?.hasError('minlength')">
            Email must be at least <strong>6</strong> characters long
          </mat-error>
          <mat-error *ngIf="userFormGroup.get('email')?.hasError('email') &&
           !userFormGroup.get('email')?.hasError('minlength') &&
           !userFormGroup.get('email')?.hasError('maxlength')">
            Email is <strong>invalid</strong>
          </mat-error>
          <mat-error *ngIf="userFormGroup.get('email')?.hasError('maxlength')">
            Email must be at most <strong>50</strong> characters long
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput autocomplete="off" type="password" formControlName="password">
          <mat-error *ngIf="userFormGroup.get('password')?.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="userFormGroup.get('password')?.hasError('minlength')">
            Password must be at least <strong>6</strong> characters long
          </mat-error>
          <mat-error *ngIf="userFormGroup.get('password')?.hasError('maxlength')">
            Password must be at most <strong>50</strong> characters long
          </mat-error>
        </mat-form-field>
      </form>
        <div></div>
        <mat-radio-group [(ngModel)]="userAvatar" [ngModelOptions]="{standalone: true}">
          <mat-radio-button value="ghost"><img style="width: 60px; margin-right: 20px;" src="/assets/img/ghost.png" alt="ghost"/></mat-radio-button>
          <mat-radio-button value="apple"><img style="width: 60px; margin-right: 20px;" src="/assets/img/apple.png" alt="apple"/></mat-radio-button>
          <mat-radio-button value="wizard"><img style="width: 60px; margin-right: 20px;" src="/assets/img/wizard.png" alt="wizard"/></mat-radio-button>
          <mat-radio-button value="boy"><img style="width: 60px; margin-right: 20px;" src="/assets/img/boy.png" alt="boy"/></mat-radio-button>
          <mat-radio-button value="dragon"><img style="width: 60px; margin-right: 20px;" src="/assets/img/dragon.png" alt="dragon"/></mat-radio-button>
          <mat-radio-button value="witch"><img style="width: 60px; margin-right: 20px;" src="/assets/img/witch.png" alt="witch"/></mat-radio-button>
        </mat-radio-group>
        <div style="margin-top: 5px;"></div>
        <button mat-raised-button color="accent" style="width: 350px; height: 50px;" (click)="register()">Register</button>
        <div class="line"></div>
        Have an account?
        <button mat-button color="primary" style="margin-top: 10px;" [routerLink]="''">Go to Login</button>
    </mat-card>
  </div>
</div>
