<app-navbar></app-navbar>
<mat-card class="card-messages" style="background-color: #98ccdc">
  <div style="display: flex;">
    <div style="width: 150px;">
      <div style="width: 150px; height: 50px; margin-left: -15px" *ngFor="let friend of userMe.userFriends">
        <button mat-button (click)="selectUser(friend.id)" [class]="userSelected==friend.id?'friend-selected':'friend-not-selected'"
                style="width: 150px; flex-direction: row">
          <img style="width: 40px;" src="/assets/img/{{friend.avatar}}.png" alt="{{friend.avatar}}"/>
          <div style="display: inline-block; width: 100px;">
            <div>{{friend.username}}</div>
          </div>
        </button>
      </div>
    </div>
    <mat-divider vertical style="height: 450px;"></mat-divider>
    <div style="width: min(350px, calc(100% - 150px));">
      <mat-list class="messages" *ngIf="userSelected!=-1">
        <div mat-subheader>Messages</div>
        <div *ngIf="messages.length==0" style="margin-left: 10px; color: #0000008a;">Send the first message!</div>
        <mat-list-item style="flex-direction: row; width: 100%; margin-top: 5px; height: auto;"
                       *ngFor="let message of messages">
          <div [class]="message.userSenderid == userMe.id?'message-right':'message-left'">
            <div [class]="message.userSenderid == userMe.id?'comment-me':'comment-him'">
              <div>{{message.content}}</div>
            </div>
            <div style="flex-direction: row;">
              <div class="publication-created-at" style="margin-right: 10px; margin-left: 10px; display: inline-block"><strong>Like</strong></div>
              <div class="publication-created-at" style="display: inline-block">{{message.createdAt}}</div>
            </div>
          </div>
        </mat-list-item>
      </mat-list>
      <div *ngIf="userSelected==-1" style="margin-left: 10px; color: #0000008a">Select a user first</div>
      <div *ngIf="userSelected!=-1"><mat-divider></mat-divider></div>
      <!-- Add Comment -->
      <div [style]="userSelected==-1?'display: none':''">
        <div style="display: flex; flex-direction: row;">
          <div class="form" style="flex-grow: 1;">
            <div style="padding: 8px 12px;">
              <textarea class="comment-textarea" id="input" cdkTextareaAutosize placeholder="Write a message..."
                        [(ngModel)]="message"></textarea>
            </div>
          </div>
          <button mat-button color="primary" id="button"
                  (click)="sendMessage()">Send</button>
        </div>
      </div>
    </div>
  </div>
</mat-card>
