.comment-me{
  display: inline-block;
  padding: 10px;
  background-color: #1dcaff;
  align-self: flex-start;
  outline: none;
  border: none;
  border-radius: 20px;
  word-break: break-word;
  white-space: pre-line;
}

.comment-him{
  display: inline-block;
  padding: 10px;
  background-color: #f0f2f5;
  align-self: flex-start;
  outline: none;
  border: none;
  border-radius: 20px;
  word-break: break-word;
  white-space: pre-line;
}

.message-left{
  flex-direction: column;
  width: 300px;
}

.message-right{
  flex-direction: column;
  width: 300px;
  text-align: right;
}

.publication-created-at{
  font-size: 12px;
  color: #888888;
}

.line{
  border-bottom: 1px solid darkgray;
  margin: 0 auto;
  width: 300px;
}

.comment-textarea{
  max-height: 50px;
  border-radius: 20px;
  padding: 10px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: #f0f2f5;
  outline: none;
  border: none;
  width: calc(100%);
  display: inline-block;
  overflow-y: hidden
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
